



.turn{
   
    padding-bottom: 20px;
}
.turn img{
    width: 55%;
}
.answers{
    margin-top: 1rem;
    width: 90%;
}

@media screen and (min-width: 576px) {
    .turn img{
        width: 55%;
    }
}

@media screen and (min-width: 768px ){
   
}
@media screen and (min-width: 992px ){
    
}

@media screen and (min-width: 1140px ){
    
}